{% extends "header.html" %}

{% block content %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/login.css') }}">
    <form class="login-form" action="" method="post">
        <h1>Авторизация</h1>
        <div class="login-div">
            {{ form.login(class="form-control", placeholder="Логин") }}
            {{ form.password(class="form-control", type="password", placeholder="Пароль") }}
            <div class="remember-label">{{ form.remember_me() }} {{ form.remember_me.label}}</div>
        </div>
        {{ form.submit(type="submit", class="btn-primary") }}
        <div>{{ message }}</div>
        <a href="/register" class="link">Зарегистрироваться</a>
    </form>
{% endblock %}
