{% extends "header.html" %}

{% block content %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/login.css') }}">
    <form class="login-form" action="" method="post">
        <h1>Авторизация</h1>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}
