{% extends "header.html" %}

{% block content %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/profile.css') }}">
<div class="profile-form">
    <div class="profile-icon">
        {% if current_user.avatar == '0' %}
            <img src="{{url_for('static',filename='icons/basic_profile.png')}}"/>
        {% else %}
            <img src="{{url_for('static',filename=''.join(['icons/avatars/', current_user.id|string, current_user.avatar]))}}"/>
        {% endif %}
        <form method="POST" action="/save_image" enctype="multipart/form-data">
            <input type="file" name="image">
            <input type="submit" value="Upload">
        </form>
    </div>
    <label>Имя: {{current_user.username}}</label>
    <label>Почта: {{current_user.email}}</label>
    <form action="/rename"><button class="change-password">Изменить данные</button></form>
    <label>Дата регистрации: {{current_user.register_time.strftime("%d-%m-%Y")}}</label>
    <form action="/logout"><button class="logout">Выйти</button></form>
</div>

{% endblock %}