{% extends "header.html" %}

{% block content %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/profile.css') }}">
<form class="profile-form">
    <div class="profile-icon">
        <img src="{{url_for('static',filename='icons/basic_profile.png')}}"/>
        <button>Выбрать изображение</button>
    </div>
    <label>Имя: {{current_user.username}}</label>
    <label>Почта: {{current_user.email}}</label>
    <button class="change-password">Сменить пароль</button>
    <label>Дата регистрации: {{current_user.register_time.strftime("%d-%m-%Y")}}</label>
    <button class="logout">Выйти</button>
</form>

{% endblock %}