{% extends "header.html" %}

{% block content %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/login.css') }}">
<form class="login-form" action="" method="post">
    <h1>Регистрация</h1>
    <div class="login-div">
        {{ form.name(class="form-control", placeholder="Логин") }}
        {{ form.email(class="form-control", type="email", placeholder="Почта") }}
        {{ form.password(class="form-control", type="password", placeholder="Пароль") }}
        {{ form.password_again(class="form-control", type="password", placeholder="Повторите пароль") }}
    </div>
    {{ form.submit(type="submit", class="btn-primary") }}
    <div>{{message}}</div>
    <a href="/login" class="link">Уже есть аккаунт?</a>
</form>
{% endblock %}